@model DestinyDaily2.Models.NightfallDataModel

@{
    ViewBag.Title = "Nightfall";
}

<main id="content" role="main" class="main-content">
    <div class="heading">
        <h1 class="heading__title">This week's Nightfall</h1>
    </div>
    <div class="activity">
        <div class="activity__header">
            <div class="content-center content-center--gutter">
                <div class="activity__icon">
                    <div class="icon icon--nightfall"></div>
                </div>
                <div class="activity__details">
                    <p class="activity__type">Weekly Nightfall Strike</p>
                    <p>@Model.ThisNightfall.ManifestActivity.name</p>
                    <p class="is-vhidden">@Model.ThisNightfall.ManifestActivity.desc</p>
                </div>
            </div>
        </div>
        <div data-external-background-image="data-external-background-image" data-external-src="@($"http://www.bungie.net{Model.ThisNightfall.ManifestActivity.pgcricon}")" class="activity__image"></div>
        <div class="activity__extras">
            <div class="content-center content-center--gutter">
                <div class="grid grid--gutterless">
                    <div class="grid__item tablet-one-half">
                        <div class="activity__extra">
                            <p class="is-vhidden">Modifiers</p>
                            <ul class="activity__list">
                                @foreach (var missionMod in Model.ThisNightfall.Modifiers)
                                {
                                    <li title="@missionMod.Modifier.name" class="skull">
                                        <div class="skull__icon">
                                            <div class="@($"icon icon--skull icon--skull--{missionMod.Modifier.name.ToLower()}")"></div>
                                        </div>
                                        <div class="skull__details">
                                            <div class="skull__title">@missionMod.Modifier.name</div>
                                            <div class="skull__description">@missionMod.Modifier.description</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="grid__item tablet-one-half">
                        <div class="activity__extra">
                            <p class="activity__subheading">Rewards</p>
                            <ul class="activity__list">
                                @foreach (var missionReward in Model.ThisNightfall.Rewards)
                                {
                                    <li title="@missionReward.InventoryItem.name" class="reward">
                                        <img data-external-image="data-external-image" data-external-src="@($"https://www.bungie.net{missionReward.InventoryItem.icon}")" alt="" class="reward__image"/>
                                        <div class="reward__details">
                                            <div class="reward__title">@missionReward.InventoryItem.name</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>