@model DestinyDaily2.Models.NightfallWeeklyModel

@{
    ViewBag.Title = "Nightfall";
}

<div style="text-align: center; width: 100%;">
    <h1>Nightfall for @Model.ThisDate</h1>
    <br/>
    @if (ViewBag.NoticeMessage != null)
    {
        <div class="alert alert-box notice"><span>NOTICE: </span>@Html.Raw(ViewBag.NoticeMessage)</div>
        <br/>
    }
    <h2 style="margin-top: 0px;">@Model.ThisNightfall.ManifestActivity.name</h2>
    <div style="width: 70%; margin: 0 auto;">
        @if (!String.IsNullOrEmpty(Model.ThisNightfall.ManifestActivity.icon))
        {
            <img src="@($"http://www.bungie.net{Model.ThisNightfall.ManifestActivity.pgcricon}")" alt="NightfallIImage" style="width: 100%"/>
        }
        <br/>
        <h4 style="width: 100%;">
            @Model.ThisNightfall.ManifestActivity.desc
        </h4>
    </div>

    @if (Model.ThisNightfall.Modifiers.Any())
    {
        <h3>Modifiers</h3>
        <table class="table table-striped table-hover table-bordered" style="width: 80%; margin: 0 auto;">
            <thead></thead>
            <tbody>
            @foreach (var missionMod in Model.ThisNightfall.Modifiers)
            {
                <tr>
                    @*<td><img src="@String.Format("/Content/Images/Modifiers/{0}.png", missionMod.name)" /></td>*@
                    <td class="vert-align">@missionMod.modifier.name</td>
                    <td class="vert-align">@missionMod.modifier.description</td>
                </tr>
            }
            </tbody>
        </table>
    }
    @if (Model.ThisNightfall.Rewards.Any())
    {
        <h3>Rewards</h3>
        <div class="accordion" style="width: 80%; margin: 0 auto;">
            <div class="accordion-section">
                <div class="accordion-section-content open" style="display: block">
                    <table class="table table-striped table-hover table-bordered" @*style="width: 80%; margin: 0 auto;"*@>
                        <thead></thead>
                        <tbody>
                        @foreach (var reward in Model.ThisNightfall.Rewards)
                        {
                            <tr>
                                <td><img src="@($"http://www.bungie.net{reward.inventoryitem.icon}")" width="20" height="20"/></td>
                                <td class="vert-align">@($"{reward.inventoryitem.name}")</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

</div>

<br/>

<div style="text-align: center; width: 100%;">
    <h1>Weekly Heroic for @Model.ThisDate</h1>
    <br />
    <h2 style="margin-top: 0px;">@Model.ThisWeekly.ManifestActivity.name</h2>
    <div style="width: 70%; margin: 0 auto;">
        @if (!String.IsNullOrEmpty(Model.ThisWeekly.ManifestActivity.icon))
        {
            <img src="@($"http://www.bungie.net{Model.ThisWeekly.ManifestActivity.pgcricon}")" alt="NightfallIImage" style="width: 100%" />
        }
        <br />
        <h4 style="width: 100%;">
            @Model.ThisWeekly.ManifestActivity.desc
        </h4>
    </div>

    @if (Model.ThisWeekly.Modifiers.Any())
    {
        <h3>Modifiers</h3>
        <table class="table table-striped table-hover table-bordered" style="width: 80%; margin: 0 auto;">
            <thead></thead>
            <tbody>
                @foreach (var missionMod in Model.ThisWeekly.Modifiers)
                {
                    <tr>
                        @*<td><img src="@String.Format("/Content/Images/Modifiers/{0}.png", missionMod.name)" /></td>*@
                        <td class="vert-align">@missionMod.modifier.name</td>
                        <td class="vert-align">@missionMod.modifier.description</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.ThisWeekly.Rewards.Any())
    {
        <h3>Rewards</h3>
        <div class="accordion" style="width: 80%; margin: 0 auto;">
            <div class="accordion-section">
                <div class="accordion-section-content open" style="display:block">
                    <table class="table table-striped table-hover table-bordered" @*style="width: 80%; margin: 0 auto;"*@>
                        <thead></thead>
                        <tbody>
                            @foreach (var reward in Model.ThisWeekly.Rewards)
                            {
                                <tr>
                                    <td><img src="@($"http://www.bungie.net{reward.inventoryitem.icon}")" width="20" height="20" /></td>
                                    <td class="vert-align">@($"{reward.inventoryitem.name}")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

</div>