@model DestinyDaily2.Models.WeeklyDataModel

@{
    ViewBag.Title = "Nightfall";
}

<div class="heading">
    <h1 class="heading__title">This week's events</h1>
</div>
@if (Model.RaidChallenges != null && Model.RaidChallenges.Any())
{
    var kingsFallChallenge = Model.RaidChallenges.FirstOrDefault(c => c.Challenge.raidname == "Kings Fall");
    var wrathChallenge = Model.RaidChallenges.FirstOrDefault(c => c.Challenge.raidname == "Wrath of the Machine");


    <div class="activity activity--raid">
        <div class="activity__header">
            <div class="content-center content-center--gutter">
                <div aria-hidden="true" class="activity__icon">
                    <div class="icon icon--raid"></div>
                </div>
                <div class="activity__details">
                    <h2 class="activity__type">Weekly Raid challenges</h2>
                </div>
            </div>
        </div>
        <div class="activity__image"></div>
        <div class="activity__extras">
            <div class="content-center content-center--gutter">
                <div class="grid grid--gutterless">
                    <div class="grid__item tablet-one-half">
                        <div class="activity__extra">
                            <h3 class="activity__subheading">Wrath of the Machine</h3>
                            <ul>
                                <li title="@wrathChallenge.Challenge.name" class="skull">
                                    <div class="skull__icon">
                                        <div aria-hidden="true" class="icon icon--skull @($"icon--skull--{wrathChallenge.Challenge.name.Replace(" ","-").ToLower()}")"></div>
                                    </div>
                                    <div class="skull__details">
                                        <div class="skull__title">@wrathChallenge.Challenge.name</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid__item tablet-one-half">
                        <div class="activity__extra">
                            <h3 class="activity__subheading">King's Fall</h3>
                            <ul>
                                <li title="@kingsFallChallenge.Challenge.name" class="skull">
                                    <div class="skull__icon">
                                        <div aria-hidden="true" class="icon icon--skull @($"icon--skull--{kingsFallChallenge.Challenge.name.Replace(" ","-").ToLower()}")"></div>
                                    </div>
                                    <div class="skull__details">
                                        <div class="skull__title">@kingsFallChallenge.Challenge.name</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="activity activity--weekly-strike">
    <div class="activity__header">
        <div class="content-center content-center--gutter">
            <div aria-hidden="true" class="activity__icon">
                <div class="icon icon--weekly-strike"></div>
            </div>
            <div class="activity__details">
                <h2 class="activity__type">Weekly Strike playlist</h2>
                <p class="activity__name">SIVA Crisis Heroic</p>
            </div>
        </div>
    </div>
    <div class="activity__image"></div>
    <div class="activity__extras">
        <div class="content-center content-center--gutter">
            <div class="grid grid--gutterless">
                <div class="grid__item tablet-one-half">
                    <div class="activity__extra">
                        <h3 class="activity__subheading is-vhidden">Modifiers</h3>
                        <ul>
                            @foreach (var missionMod in Model.ThisWeekly.Modifiers)
                            {
                                <li title="@missionMod.Modifier.name" class="skull">
                                    <div class="skull__icon">
                                        <div aria-hidden="true" class="@($"icon icon--skull icon--skull--{missionMod.Modifier.name.Replace(" ", "-").ToLower()}")"></div>
                                    </div>
                                    <div class="skull__details">
                                        <div class="skull__title">@missionMod.Modifier.name</div>
                                        <div class="skull__description">@missionMod.Modifier.description</div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="grid__item tablet-one-half">
                    <div class="activity__extra">
                        <h3 class="activity__subheading">Rewards</h3>
                        <ul>
                            @foreach (var missionReward in Model.ThisWeekly.Rewards.Where(c => c.InventoryItem.name != "(Weekly Bonus Remaining: 3)"))
                            {
                                <li title="@missionReward.InventoryItem.name" class="reward">
                                    <img data-external-image="data-external-image" data-external-src="@($"https://www.bungie.net{missionReward.InventoryItem.icon}")" alt="Reward Icon" class="reward__image"/>
                                    <div class="reward__details">
                                        <div class="reward__title">@missionReward.InventoryItem.name</div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.WeeklyCrucible != null)
{
    <div class="activity activity--weekly-crucible">
        <div class="activity__header">
            <div class="content-center content-center--gutter">
                <div aria-hidden="true" class="activity__icon">
                    <div class="icon icon--weekly-crucible"></div>
                </div>
                <div class="activity__details">
                    <h2 class="activity__type">Weekly Crucible playlist</h2>
                    <p class="activity__name">@Model.WeeklyCrucible.Weekly.ManifestActivity.name</p>
                </div>
            </div>
        </div>
        <div class="activity__image"></div>
        <div class="activity__extras">
            <div class="content-center content-center--gutter">
                <div class="grid grid--gutterless">
                    <div class="grid__item tablet-one-half">
                        <div class="activity__extra">
                            <h3 class="activity__subheading">Lord Shaxx's Weekly bounty</h3>
                            <ul>
                                @foreach (var bounty in Model.WeeklyCrucible.Bounties)
                                {
                                    <li class="bounty">
                                        <img data-external-image="data-external-image" data-external-src="@($"https://www.bungie.net/{bounty.InventoryItem.icon}")" width="96" height="96" alt="Reward Icon" class="bounty__image" />
                                        <div class="bounty__details">
                                            <div class="bounty__title">@bounty.InventoryItem.name</div>
                                            <div class="bounty__description">@bounty.InventoryItem.desc</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="grid__item tablet-one-half">
                        <div class="activity__extra">
                            <h3 class="activity__subheading">Rewards</h3>
                            <ul>
                                <li title="Legendary Marks x 10" class="reward">
                                    <img data-external-image="data-external-image" data-external-src="https://www.bungie.net/common/destiny_content/icons/7bf311b416623182e23afe6364eefa64.png" width="30" height="30" alt="Legendary Marks x 10 icon" class="reward__image"/>
                                    <div class="reward__details">
                                        <div class="reward__title">Legendary Marks (10)</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.EldersChallenge != null)
{
    <div class="activity activity--challenge-of-elders">
        <div class="activity__header">
            <div class="content-center content-center--gutter">
                <div aria-hidden="true" class="activity__icon">
                    <div class="icon icon--challenge-of-elders"></div>
                </div>
                <div class="activity__details">
                    <h2 class="activity__type">Challenge of the Elders</h2>
                    <p class="activity__name">Arena</p>
                    <p class="activity__level">Level 42</p>
                </div>
            </div>
        </div>
        <div class="activity__image"></div>
        <div class="activity__extras">
            <div class="content-center content-center--gutter">
                <div class="grid grid--gutterless">
                    <div class="grid__item tablet-one-half">
                        <div class="activity__extra">
                            <h3 class="activity__subheading is-vhidden">Modifiers</h3>
                            <ul>
                                @foreach (var modifier in Model.EldersChallenge.Challenge.Modifiers)
                                {
                                    <li title="@modifier.Modifier.name" class="skull">
                                        <div class="skull__icon">
                                            <div aria-hidden="true" class="icon icon--skull @($"icon--skull--{modifier.Modifier.name.ToLower().Replace(" ", "-")}")"></div>
                                        </div>
                                        <div class="skull__details">
                                            <div class="skull__title">@modifier.Modifier.name</div>
                                            <div class="skull__description">@modifier.Modifier.description</div>
                                        </div>
                                    </li>
                                }
                                @foreach (var modifier in Model.EldersChallenge.Challenge.ScoreModifiers)
                                {
                                    <li title="@modifier.ScoreModifier.name" class="skull">
                                        <div class="skull__icon">
                                            <div class="icon icon--skull @($"icon--skull--{modifier.ScoreModifier.name.ToLower().Replace(" ", "-")}")"></div>
                                        </div>
                                        <div class="skull__details">
                                            <div class="skull__title">@modifier.ScoreModifier.name</div>
                                            <div class="skull__description">@modifier.ScoreModifier.description</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="grid__item tablet-one-half">
                        <div class="activity__extra">
                            <h3 class="activity__subheading">House of Judgement Bounties</h3>
                            <ul>
                                @foreach (var bounty in Model.EldersChallenge.Bounties)
                                {
                                    <li class="bounty">
                                        <img data-external-image="data-external-image" data-external-src="@($"https://www.bungie.net/{bounty.InventoryItem.icon}")" width="96" height="96" alt="Reward Icon" class="bounty__image" />
                                        <div class="bounty__details">
                                            <div class="bounty__title">@bounty.InventoryItem.name</div>
                                            <div class="bounty__description">@bounty.InventoryItem.desc</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="advert js-advert">
    <div class="content-center content-center--gutter"><ins data-ad-client="ca-pub-5655051109573002" data-ad-slot="2916154772" data-ad-format="auto" class="adsbygoogle"></ins></div>
</div>