<!DOCTYPE html>
<html lang="en" class="no-js" @Html.Raw(ViewBag.HtmlTagOverride)>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="The one website you need to visit to see all Daily and Weekly Destiny activities without even having to log in">
    <!--link rel="canonical" href="undefined://destiny-daily.com/index"-->
    <title>Destiny Daily – All Daily and Weekly activities in one place</title>
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/assets/css/index.css?v=1.0.4"><!--<![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/index-ie8.css?v=1.0.4"><![endif]-->
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lte IE 8]>
    <script src="/assets/js/lib/vendor/html5shiv.js?v=1.0.4"></script><![endif]-->
    <link rel="icon" type="image/png" href="/assets/img/meta/favicon-32x32.png?v=1.0.5" sizes="32x32"><!--[if IE]><link rel='shortcut icon' type='image/x-icon' href=versionPath('/favicon.ico'))<![endif]-->
    <link rel="icon" type="image/png" href="/assets/img/meta/android-chrome-192x192.png?v=1.0.5" sizes="192x192">
    <meta name="theme-color" content="#7d6d70">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/assets/img/meta/safari-pinned-tab.svg?v=1.0.5" color="#7d6d70">
    <meta name="apple-mobile-web-app-title" content="Destiny Daily">
    <link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon.png?v=1.0.5" sizes="180x180">
    <meta name="application-name" content="Destiny Daily">
    <meta name="msapplication-TileImage" content="/assets/img/meta/mstile-144x144.png?v=1.0.5">
    <meta name="msapplication-TileColor" content="#7d6d70">
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-58376615-1', 'auto');
    ga('send', 'pageview');

    </script>
</head>
<body>
    <a id="top"><span class="is-vhidden">Top of page</span></a>
    <div class="a11y-navigation"><a href="#content">Jump to Main content</a><a href="#navigation">Jump to Primary navigation</a></div>
    <header role="banner" class="main-header">
        <div class="main-header__background"></div>
        <div class="main-header__container">
            <div class="content-center content-center--gutter">
                <div class="grid grid--gutterless">
                    <div class="grid__item main-header__logo">
                        <h1><a href="/" class="site-title">Destiny Daily</a></h1>
                    </div>
                    <div class="grid__item main-header__navigation">
                        <input id="toggle" type="checkbox" class="mobile-navigation-toggle">
                        <label for="toggle" class="mobile-navigation-button">Menu</label>
                        <div id="navigation" role="navigation" aria-label="Primary navigation" class="main-navigation">
                            <div class="content-center">
                                <nav>
                                    <h2 class="is-vhidden">Primary navigation</h2>
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Daily")" data-scroll="daily">Daily</a></li>
                                        <li><a href="@Url.Action("Index", "NightFall")" data-scroll="nightfall">Nightfall</a></li>
                                        <li><a href="@Url.Action("Index", "Weekly")" data-scroll="weekly">Weekly</a></li>
                                        <li><a href="@Url.Action("Index", "Vendors")" data-scroll="vendors">Vendors</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading heading--primary">
                <h1 class="heading__title">Destiny's daily events</h1>
                <div class="heading__content">
                    <p>A quick glance at today's challenges within Destiny for those who can't play right now.</p>
                </div>
            </div>
        </div>
    </header>
    <main id="content" role="main">
        @RenderBody()
    </main>
    <footer role="contentinfo" class="main-footer">
        <div class="content-center content-center--gutter">
            <div class="support">
                <div class="support__details">
                    <p>If you found this website useful, please consider giving a small donation to support us and help us continue to make it even better</p>
                </div>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="B2FAME29SU97Q">
                    <input type="submit" name="submit" title="Donate with PayPal - The safer, easier way to pay online!" value="Donate" class="button"><img src="https://www.paypal.com/en_GB/i/scr/pixel.gif" alt="" width="1" height="1">
                </form>
            </div>
            <div class="grid grid--bottomed">
                <div class="grid__item tablet-one-half">
                    <p>&copy; 2016 Destiny Daily</p>
                    <p><small>Destiny is a registered trademark of Bungie.</small><br><small>All information used is the property of Bungie.</small></p>
                </div>
                <div class="grid__item tablet-one-half">
                    <div class="credit">
                        <a href="https://avaclanche.uk/" target="_blank" class="credit__link">
                            <div aria-hidden="true" class="credit__logo icon icon--avalanche-uk"></div>
                            <div class="credit__details"><small>Proudly brought to you by</small><br><small>the Guardians at Avalanche UK</small></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/assets/js/build/index.js?v=1.0.4" async defer></script>
    <script src="https://pagead2.googlesyndication.com/pub-config/r20160913/ca-pub-5655051109573002.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
