<!DOCTYPE html>
<html  lang="en" class="no-js" @Html.Raw(ViewBag.HtmlTagOverride)>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <link rel="canonical" href="undefined://destiny-daily.benedfit.com/index">
    <title>Destiny Daily</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">    
    <!--[if lte IE 8]>
    <script src="/assets/js/lib/vendor/html5shiv.js?v=20161102T100013Z"></script><![endif]-->
    <link rel="shortcut icon" href="/assets/img/meta/favicon.ico?v=20161102T100013Z">
    <meta name="apple-mobile-web-app-title" content="Destiny Daily">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/meta/apple-touch-icon-precomposed-76x76.png?v=20161102T100013Z">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/meta/apple-touch-icon-precomposed-120x120.png?v=20161102T100013Z">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/meta/apple-touch-icon-precomposed-152x152.png?v=20161102T100013Z">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/img/meta/apple-touch-icon-precomposed-180x180.png?v=20161102T100013Z">
    <meta name="application-name" content="Destiny Daily">
    <meta name="msapplication-TileImage" content="/assets/img/meta/microsoft-pinned-tile-image-144x144.png?v=20161102T100013Z">
</head>
<body>
    <a id="top"></a>
    <div class="a11y-navigation"><a href="#content">Jump to Main content</a><a href="#navigation">Jump to Primary navigation</a></div>
    <header role="banner" class="main-header">
        <div class="content-center content-center--gutter">
            <div class="grid grid--gutterless">
                <div class="grid__item main-header__logo">
                    <h1><a href="/" class="site-title">Destiny Daily</a></h1>
                </div>
                <div class="grid__item main-header__navigation">
                    <input id="toggle" type="checkbox" class="mobile-navigation-toggle">
                    <label for="toggle" class="mobile-navigation-button">Menu</label>
                    <div id="navigation" role="navigation" aria-label="Primary navigation" class="main-navigation">
                        <div class="content-center">
                            <nav>
                                <h2 class="is-vhidden">Primary navigation</h2>
                                <ul>
                                    <li><a href="@Url.Action("Index", "Daily")" data-scroll="daily">Daily</a></li>
                                    <li><a href="@Url.Action("Index", "Nightfall")" data-scroll="nightfall">Nightfall</a></li>
                                    <li><a href="@Url.Action("WeeklyIndex", "Nightfall")" data-scroll="weekly">Weekly</a></li>
                                    @*                                    <li><a href="@Url.Action("Index", "Daily")" data-scroll="vendors">Vendors</a></li>*@
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading heading--primary">
            <h1 class="heading__title">Destiny's daily events</h1>
            <div class="heading__content">
                <p>A quick glance at today's challenges within Destiny for those who can't play right now.</p>
            </div>
        </div>
    </header>
    <main id="content" role="main" class="main-content">
        @RenderBody()
    </main>
    <footer role="contentinfo" class="main-footer">
        <div class="content-center content-center--gutter"></div>
    </footer>
    <script src="/Scripts/index.js" async defer></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Custom/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
