@using DestinyDailyApiManager.Models
@model List<DestinyDailyDAL.BountyDay>
@{
    ViewBag.Title = "Bounties";
}

<h1 align="center">Daily bounties for @ViewBag.VisibleDate</h1>
@if (Model == null)
{
    <p>There is currently a problem retrieving bounties from Bungie. Please check back soon.</p>
}
else
{
    <h2 align="center">Vanguard Bounties</h2>
    <table class="table table-striped table-hover table-bordered">
        <thead></thead>
        <tbody>
        @foreach (var item in Model.Where(m => m.vendor == "Vanguard"))
        {
            <tr>
                <td class="vert-align" style="text-align: center">
                    <img src="@($"http://www.bungie.net{item.InventoryItem.icon}")" class="bountyicon"/>
                </td>
                <td class="vert-align" style="text-align: center">@item.InventoryItem.name</td>
                <td class="vert-align" style="text-align: center">@item.InventoryItem.desc</td>
            </tr>
        }
        </tbody>
    </table>

    <h2 align="center">Crucible Bounties</h2>
    <table class="table table-striped table-hover table-bordered">
        <thead></thead>
        <tbody>
        @foreach (var item in Model.Where(m => m.vendor == "Crucible"))
        {
            <tr>
                <td class="vert-align" style="text-align: center">
                    <img src="@($"http://www.bungie.net{item.InventoryItem.icon}")" class="bountyicon"/>
                </td>
                <td class="vert-align" style="text-align: center">@item.InventoryItem.name</td>
                <td class="vert-align" style="text-align: center">@item.InventoryItem.desc</td>
            </tr>
        }
        </tbody>
    </table>
}