@model System.Collections.Generic.IEnumerable<DestinyDailyDAL.InventoryItem>

@{
    ViewBag.Title = "Edit";

    var bountyList = new List<SelectListItem>();
    foreach (var item in Model)
    {
        SelectListItem i = new SelectListItem();
        i.Text = string.IsNullOrEmpty(item.friendlyName) ? item.name : item.friendlyName;
        i.Value = item.id.ToString();
        bountyList.Add(i);
    }

    bountyList.Add(new SelectListItem() { Text = "None", Value = "0", Selected = true });
}

<h2>Edit</h2>

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Campaign</legend>

        <h3>Shaxx</h3>
        <div class="display-label">
                Shaxx Bounty 1
            </div>
            <div class="display-field">
                @Html.DropDownList("Shaxx1", new SelectList(bountyList, "Value", "Text"))
            </div>
            <br />

            <div class="display-label">
                Shaxx Bounty 2
            </div>
            <div class="display-field">
                @Html.DropDownList("Shaxx2", new SelectList(bountyList, "Value", "Text"))
            </div>
            <br />

            <div class="display-label">
                Shaxx Bounty 3
            </div>
            <div class="display-field">
                @Html.DropDownList("Shaxx3", new SelectList(bountyList, "Value", "Text"))
            </div>
            <br />

            <div class="display-label">
                Shaxx Bounty 4
            </div>
            <div class="display-field">
                @Html.DropDownList("Shaxx4", new SelectList(bountyList, "Value", "Text"))
            </div>
            <br />

            <div class="display-label">
                Shaxx Bounty 5
            </div>
            <div class="display-field">
                @Html.DropDownList("Shaxx5", new SelectList(bountyList, "Value", "Text"))
            </div>
            <br />

            <div class="display-label">
                Shaxx Bounty 6
            </div>
            <div class="display-field">
                @Html.DropDownList("Shaxx6", new SelectList(bountyList, "Value", "Text"))
            </div>
        <br/>
        <br />

        <h3>Arcite</h3>
        <div class="display-label">
            Arcite Bounty 1
        </div>
        <div class="display-field">
            @Html.DropDownList("Arcite1", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br/>
        <div class="display-label">
            Arcite Bounty 2
        </div>
        <div class="display-field">
            @Html.DropDownList("Arcite2", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br/>
        <div class="display-label">
            Arcite Bounty 3
        </div>
        <div class="display-field">
            @Html.DropDownList("Arcite3", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br/>
        <div class="display-label">
            Arcite Bounty 4
        </div>
        <div class="display-field">
            @Html.DropDownList("Arcite4", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br/>
        <br/>

        <h3>Perison Of Elders</h3>
        <div class="display-label">
            POE Bounty 1
        </div>
        <div class="display-field">
            @Html.DropDownList("Prison1", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br />
        <div class="display-label">
            POE Bounty 2
        </div>
        <div class="display-field">
            @Html.DropDownList("Prison2", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br />
        <div class="display-label">
            POE Bounty 3
        </div>
        <div class="display-field">
            @Html.DropDownList("Prison3", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br />
        <br/>

        <h3>Petra</h3>
        <div class="display-label">
            Petra Bounty 1
        </div>
        <div class="display-field">
            @Html.DropDownList("Petra1", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br />
        <div class="display-label">
            Petra Bounty 2
        </div>
        <div class="display-field">
            @Html.DropDownList("Petra2", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br />
        <div class="display-label">
            Petra Bounty 3
        </div>
        <div class="display-field">
            @Html.DropDownList("Petra3", new SelectList(bountyList, "Value", "Text"))
        </div>
        <br />
        <br />

        <p>
            <input type="submit" value="Save" />
         </p>
    </fieldset>
}

